<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-label padding>
        <h1 style="text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px ;"> Om oss  </h1>
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list style="opacity: 0.9; " lines="none">
    <ion-list-header style=" background-color:#7e57ff;">
      <ion-label style="color: white">Fördelar</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="tertiary" name="hand"></ion-icon>
      <p>Deltagare kan logga in och se poängen</p>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="tertiary" name="time"></ion-icon>
      <p>Du slipper poängföra med papper och penna</p>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="tertiary" name="happy"></ion-icon>
      <p>Regler kan beskrivas till varje lek, du slipper alltså dra reglerna om och om igen</p>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="tertiary" name="stats"></ion-icon>
      <p>Appen räknar ut vinnare åt dig!</p>
    </ion-item>
    <ion-card style="background-color:#7e57ff; opacity: 0.9; color:white" class="welcome-card">
      <img  src="/assets/clipart.png" alt=""/>
  
      <!-- <img src="/assets/shapes.svg" alt=""/> -->
      <ion-card-header style="color: white;">
        <ion-card-title>Trött på manuell poängföring?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Registrera dig i appen via Oktas hemsida. Skapa ett evenemang och börja registrera dina tävlingar och deltagande lag. Sedan är det bara mata in poängen allt eftersom
          evenemanget genomförs. Smidigt va? 
          <br> <br> <br>
          <strong style="color:tomato">Notis!</strong> Appen kommer fortsätta uppdateras kontinuerligt med nya versioner för en bättre upplevelse!
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
