<ion-app >
  <ion-split-pane  contentId="main-content">
    <ion-menu  contentId="main-content" type="overlay">
      
      <!-- <ion-header >
        
        <ion-toolbar >
          <ion-title>Genvägar</ion-title>
        </ion-toolbar >
        
      </ion-header> -->
      <ion-content padding class="background">
        <ion-item *ngIf="authenticated" style="background-color: transparent;  padding: 16px;" ><div class="profile"></div></ion-item>
        <ion-list *ngIf="authenticated" >
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="sidebarItem" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item >
          </ion-menu-toggle>
        </ion-list>
        <ion-button *ngIf="authenticated" (click)="signOut()" color="danger" class="logOutBtn">Logga ut         
        </ion-button>
        <ion-button margin-top (click)="signIn()" *ngIf="!authenticated">Login</ion-button>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
